*__pycache__*
*.DS_Store*
*.swp

# scripts
temp.py
energy.py
load_wind_old.py
fit.py

# models
# *Ni_M*

# other files
grid*
energies*
energy*

#paper_plots.py
paper_plots/
new_plots.py
plot_neglog.py
new_plots/
